<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    
    <!-- Theme -->
    <title>Roberto Vicario | {{ theme_title }}</title>
    <meta name="theme-color" content="#000000"/>

    <!-- Favicons -->
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicons/favicon-16x16.png') }}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicons/favicon-32x32.png') }}"/>
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{{ url_for('static', filename='img/favicons/apple-touch-icon.png') }}"/>
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='img/favicons/android-chrome-192x192.png') }}"/>
    <link rel="icon" type="image/png" sizes="512x512" href="{{ url_for('static', filename='img/favicons/android-chrome-512x512.png') }}"/>

    <!-- SEO -->
    <meta name="description" content="Discover the work and projects of Roberto Vicario, a software engineer specializing in web development, cloud computing, and AI. Explore his portfolio and get in touch today.">
    <meta name="keywords" content="Roberto Vicario, software engineer, web development, cloud computing, AI, portfolio">
    <meta name="robots" content="index, follow">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Syncopate:wght@400;700&display=swap" rel="stylesheet">

    <!-- Libraries -->
    <!-- TODO: external=_True -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/vendor/swiper/dist/css/swiper.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='/vendor/fancybox/dist/jquery.fancybox.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/themebau.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/custom.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- Styles -->
    {% block styles %}{% endblock %}
</head>

<body class="bg-dark">

    <!-- Jinja :: Header -->
    {% include 'includes/header.html' %}

    <!-- Jinja :: Content -->
    {% block content %}{% endblock %}

    <!-- Libraries -->
    <!-- TODO: external=_True -->
    <script src="{{ url_for('static', filename='/vendor/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/vendor/object-fit-images/dist/ofi.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/vendor/imagesloaded/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/vendor/swiper/dist/js/swiper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/vendor/animejs/lib/anime.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/vendor/rellax/rellax.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/vendor/jquery-countdown/dist/jquery.countdown.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/vendor/moment/min/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/vendor/moment-timezone/builds/moment-timezone-with-data.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/vendor/isotope-layout/dist/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/vendor/isotope-packery/packery-mode.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/vendor/jarallax/dist/jarallax.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/vendor/jarallax/dist/jarallax-video.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/vendor/fancybox/dist/jquery.fancybox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/themebau.min.js') }}"></script>

    <!-- Scripts -->
    {% block scripts %}{% endblock %}
</body>

</html>